{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'home.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'mode.css' %}" media="screen"/>
    <link rel="stylesheet" href="{% static 'color.css' %}" media="screen"/>
    <script class="u-script" type="text/javascript" src="{% static 'script.js' %}"  defer=""></script>
    <style>
      .poster,.guess {
      border: 2px solid green;
      }
    </style>
  </head>
  <body class="light" id="body">
    <header class="light headborder" id="other3">
     <div class="head">
       <h2 class="site">letartoverflow <span class="drawing"> drawing</span></h2>
       <ol class="hright"><li>Menu</li> <li class="no">.</li> 
                   <li class="poster">
                       <img src="{% static 'images/13.jpg' %}" onclick="ox(this)"  class="posterimg">
                   </li></ol>
     </div>
    </header>
    <div class="escape" id="top"></div>
    <div class="pole1 light">
           <div class="p2guy lightscroll">
              <ul>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              <li>mode</li>
              </ul>
           </div>
    </div>
        <div class="ox dark" id="ox">
          <img src="" id="">
          <span class="close twpx" onclick="clos()">X</span>
        </div>
    <div class="containers dark" id="other1">
        <div class="container light">
         <div id="postbody">
            <div class="post dark">
              <div class="userdtails"><a href="#">
                   <div class="poster">
                       <img src="{% static 'images/13.jpg' %}" onclick="ox(this)"  class="posterimg">
                   </div> 
                   <div class="user"><li class="name lighter">Dev Femi Badmus</li><li class="bb">@devdfemibadmus</li></div></a> 
                   <div class="imagenum"><li onclick="showPost('image','yes')">5 photos</li></div>
              </div>
              <div class="scrollpost" >
                <div class="postcontent maxx" onclick="postwide(this)">
                 <h3 class="title">this cis the title of my postincase its long longthis is the title of my postincase its this is the title of my postincase its long long long long</h3>      
                 <p class="content" >+2706620wordbreak:
                 breakall;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfhf
                 hn757+wordbreaak:breakall;Vshdhdhfhfhn757+word
                 break:breakall;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfh
                 fbvfffdsdfdfdsdsa sdfsdfas fda,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumbsdf fhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnf
                 nfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfak:breakall;Vshdhdhfhfhn757+word
                 break:breakall;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfh
                 fbvfffdsdfdfdsdsa sdfsdfas fda,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumbsdf fhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnf
                 nfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfak:breakall;Vshdhdhfhfhn757+word
                 break:breakall;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfh
                 fbvfffdsdfdfdsdsa sdfsdfas fda,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumbsdf fhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnf
                 nfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfak:breakall;Vshdhdhfhfhn757+word
                 break:breakall;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfh
                 fbvfffdsdfdfdsdsa sdfsdfas fda,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumb,
                 .scrollpost::-webkit-scrollbar-thumbsdf fhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnf
                 nfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfk:breakall;Vshdhdhfhfhn757+wordbreak:breaka
                 ll;Vshdhdhfhfhn757+wordbrenfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfh</p>
           
                </div>
                <div class="postcontent postody">
                 <p class="content no">+270dhhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfhVshdhdhfhfhnfnfnfhfhfh</p>
                  <img src="{% static 'images/13.jpg' %}" onclick="ox(this)"  class="postimage">
                </div>
              </div>
              <h5 class="rate lighter"><li>100views</li> <li>love</li> <li onclick="topComment()">166comment</li> <li onclick="sharePost()">share</li></h5>
              <h5 class="talk lighter"><li>3daysago</li></h5>
            </div>
            <div class="comments dark">
               <div class="userdtails"><a href="#">
                   <div class="poster">
                       <img src="{% static 'images/13.jpg' %}" onclick="ox(this)"  class="posterimg">
                   </div> <div class="user"><li class="name lighter">Dev Femi Badmus</li><li class="bb">@devfemibadmus</li></div></a>
               </div>   
               <div class="content"><p class="contenttalk maxnx"  onclick="postwide(this, 'd')">sdsa sdfsdfas fda,
                .scrollpo
                sdfas nvubfuvbfuv dfdfd dj j vbfjdvbu757+wordbreak:
                breakall;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfhf
                hn757+wordbreak:breakall;Vshdhdhfhfhn757+wordbreak:breaka
                ll;Vshdhdhfhfhn7shdhdhfhfhn757+wordbreak:breakall;Vshdhdhfhf
                hn757+wordbreak:breakall;Vshdhdhfhfhn757+wordbreak:breaka
                ll;Vshdhdhfhfhn7shdhdhfhfhn757+wordbreak:breakall;Vshdhdhfhf
                hn757+wordbreak:breakall;Vshdhdhfhfhn757+wordbreak:breaka
                ll;Vshdhdhfhfhn7shdhdhfhfhn757+wordbreak:breakall;Vshdhdhfhf
                hn757+wordbreak:breakall;Vshdhdhfhfhn757+wordbreak:breaka
                ll;Vshdhdhfhfhn7shdhdhfhfhn757+wordbreak:breakall;Vshdhdhfhf
                hn757+wordbreak:breakall;Vshdhdhfhfhn757+wordbreak:breaka
                ll;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfhfhn757+word
                break:breakall;Vshdhdhfhfhn757+wordbreak:breakall;Vshdhdhfh
                fbvfffdsdfdfd</p>
               </div>
               <h5 class="talk lighter"><li>13likes</li> <li>3daysago</li></h5>
            </div>
            <div class="comment light">
                   <textarea oninput="grow(this)" placeholder="What is your Opinion..."></textarea>
                   <h5 class="rate lighter"><li>GIF</li> <li>Photo</li> <li>Sticker</li> <li>Share</li></h5>
            </div>
         </div>
        </div>
    </div>
    <div class="pole2 light">
           <div class="p2guy lightscroll">
              <ul>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              <li>something mode</li>
              </ul>
          </div>
    </div>
    <div class="bottom"></div>
  </body>
</html>