{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Studio</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'studio.css' %}" />
    <link rel="stylesheet" href="{% static 'mode.css' %}" media="screen"/>
  </head>
  <body class="light">
    <div class="container">
      <div class="profile-container dark ">
        <div class="profile-picture lightborder">
          <img src="{% static 'images/13.jpg' %}" onclick="imagebox(this)"  class="profileimg">
          <input type="file" name="photo"id="file" />
          <label class="dark" for="file"><i class="fas fa-camera"></i></label>
        </div>
        <div class="rank">
          <h2>{{user.first_name}}</h2>
          <h5>@{{user.username}}</h5>
        </div>
        {% if not login %}
        <div class="btns">
          <button class="lighter"><i class="fa fa-link" aria-hidden="true"></i> Follow</button>
          <button class="lighter">
            <i class="fa fa-envelope" aria-hidden="true"></i> Message
          </button>
        </div>
        {% else %}
        <div class="btns">
          <button class="lighter"><i class="fa fa-link" aria-hidden="true"></i>Update</button>
          <button class="lighter">
            <i class="fa fa-envelope" aria-hidden="true"></i>Badges</button>
        </div>
        {% endif %}
        <div class="btns">
          <a href="#">134 followers</a>
            <a href="#">13 following</a>
        </div>
        <div class="about-user">
          <p>
            <b>Talented_Dev</b> is a full-stack Developer with 2years
            experience...
            <a href="#">Read more</a>
          </p>
        </div>
        <div class="rating">
          <i class="fa fa-star" aria-hidden="true">s</i>
          <i class="fa fa-star" aria-hidden="true">s</i>
          <i class="fa fa-star" aria-hidden="true">s</i>
          <i class="fa fa-star" aria-hidden="true">s</i>
          <i class="fa fa-star" aria-hidden="true">s</i>
        </div>
      </div>


    </div>
  </body>
</html>
