body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, "Roboto", Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

#createpost textarea::-webkit-scrollbar,
.p2guy::-webkit-scrollbar {
    width: 4px;
    border-radius: 10px;
}

.guesses::-webkit-scrollbar,
.scrollpost::-webkit-scrollbar {
    height: 6px;
}

.containers {
    height: auto;
    text-align: center;
}

.comments .content,
.post .content {
    border: 0.3rem solid transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.name {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    margin-left: 5%;
    max-width: 600px;
    padding-bottom: 6rem;
    display: inline-block;
}

.rate,
.talk {
    word-spacing: 1em;
    font-family: sans-serif;
    font-size: x-small;
    padding: 5px;
}

li {
    display: inline-block;
}

.rate {
    float: left;
}

.talk {
    float: right;
}

.hright {
    float: right;
    display: inline;
    padding-right: 1rem;
    word-spacing: 1em;
    text-align: centet;
}

.foot .hright li {
    float: right;
    display: inline;
    padding-right: 2rem;
    padding-top: auto;
    padding-bottom: 5px;
}

a {
    color: rgba(72, 72, 136, 0.856);
}

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-decoration: none;
}

.p2guy:hover {
    overflow-y: scroll;
}

.p2guy {
    width: 80%;
    height: 60%;
    margin: 10%;
    margin-top: 120px;
    margin-left: 0px;
    margin-bottom: 0%;
    position: absolute;
    overflow: hidden;
}

.head,
.foot {
    padding: 0.5rem;
}

.site {
    display: inline-block;
    padding-left: 0.8rem;
    word-spacing: 1em;
}

header {
    width: 100%;
    height: auto;
    top: 0;
    z-index: 3;
    position: fixed;
}

footer {
    width: 100%;
    height: auto;
    bottom: 0;
    z-index: 3;
    position: fixed;
}

.about {
    margin-top: 2%;
}

ol .poster {
    display: inline-block;
    margin-top: -3px;
    margin-bottom: 0px;
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.pole2,
.pole1 {
    display: none;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

footer div {
    margin-right: -7px;
}

footer {
    display: none;
}

.remove {
    visibility: hidden;
}

.guestme {
    width: 72.5px;
    height: 125px;
    margin: 10px;
    margin-left: 1px;
    z-index: 2;
    float: left;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
    border-radius: 6px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}

.guesses {
    width: 100%;
    height: 139px;
    margin-top: 18px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.guest {
    width: 72.5px;
    height: 125px;
    margin: 10px;
    overflow: hidden;
    margin-top: 0px;
    z-index: 2;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}

.guestimg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: absolute;
}

.guess {
    width: 30px;
    height: 30px;
    margin: 10px;
    overflow: hidden;
    z-index: 2;
    position: relative;
    border-radius: 50%;
}

.guessimg {
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
}

.poster {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 5px;
    float: left;
    overflow: hidden;
    z-index: 2;
    display: inline;
    position: relative;
    border-radius: 50%;
}

.posterimg {
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    min-width: 100%;
    width: 100%;
    height: auto;
    margin: auto;
    position: absolute;
}

@media (max-width: 550px) and (min-width: 208px) {
    .escape {
        height: 2.9rem;
    }
    textarea {
        max-height: 50px;
    }
    footer {
        display: block;
    }
    .site {
        word-spacing: 0.6em;
    }
    .hright {
        word-spacing: 0.6em;
        margin-left: 0.6em;
    }
    .container {
        margin-left: 0%;
    }
    .guesses {
        margin-left: 5%;
        width: 90%;
    }
    .drawing {
        display: none;
    }
}

@media (max-width: 720px) and (min-width: 550px) {
    .escape {
        height: 2.9rem;
    }
    textarea {
        max-height: 60px;
    }
    footer {
        display: block;
    }
    .site {
        word-spacing: 0.6em;
    }
    .hright {
        word-spacing: 0.6em;
        margin-left: 0.6em;
    }
    .container {
        margin-left: 0%;
    }
    .guesses {
        margin-left: 5%;
        width: 90%;
    }
    .drawing {
        display: none;
    }
}

@media (max-width: 868px) and (min-width: 720px) {
    .containers {
        width: 80%;
        float: left;
        text-align: left;
        margin-left: 0px;
        display: inline;
    }
    .container {
        margin-left: 0px;
        text-align: left;
    }
    textarea {
        max-height: 70px;
    }
    .site {
        word-spacing: 1.5em;
    }
    .hright {
        word-spacing: 1.5em;
    }
    .pole2 {
        width: 20%;
        float: right;
        height: 100%;
        display: inline;
        position: fixed;
    }
    .guesses {
        margin-top: 65px;
        margin-left: 10%;
        width: 80%;
    }
}

@media (max-width: 1040px) and (min-width: 868px) {
    .containers {
        width: 70%;
        height: 100%;
        margin-left: 6%;
        float: left;
        display: inline;
    }
    textarea {
        max-height: 300px;
    }
    .site {
        word-spacing: 2em;
        margin-left: 1.5em;
    }
    .hright {
        word-spacing: 2em;
        margin-right: 1.5em;
        margin-left: 0em;
    }
    .pole1 {
        width: 10%;
        float: left;
        height: 100%;
        position: fixed;
        display: block;
    }
    .pole2 {
        width: 25%;
        height: 100%;
        position: fixed;
        display: inline;
    }
    .guesses {
        margin-top: 65px;
    }
    .guestme {
        margin-left: 10px;
    }
}

@media (max-width: 200000px) and (min-width: 1040px) {
    .containers {
        width: 60%;
        height: 100%;
        float: left;
        margin-left: 10%;
        display: inline;
    }
    .container {
        margin-left: 0px;
    }
    .site {
        word-spacing: 3em;
        margin-left: 1.5em;
    }
    .hright {
        word-spacing: 5em;
        margin-right: 0em;
        margin-left: 0em;
    }
    .pole1 {
        width: 10%;
        float: left;
        height: 100%;
        position: fixed;
        display: block;
    }
    .pole2 {
        width: 30%;
        float: right;
        height: 100%;
        position: fixed;
        display: inline;
    }
    .guesses {
        margin-top: 65px;
    }
    .guestme {
        margin-left: 10px;
    }
}

.comments {
    max-width: 85%;
    height: auto;
    margin-left: 10%;
    margin-top: -3%;
    margin-bottom: 5%;
    border-bottom: 0px;
    overflow: hidden;
    padding: 1rem;
    padding-bottom: 0px;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.nodisplay {
    display: none;
}

.escape-forever {
    height: 3rem;
}

.comment {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    text-align: center;
    border: 1px;
    margin-top: -10px;
    overflow: hidden;
}

#createpost {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    width: 100%;
}

#createpost .rate {
    margin-left: 10%;
}

#createpost textarea {
    border-radius: 10px;
    max-height: 100px;
    height: 40px;
    width: 80%;
    margin-top: 1px;
    margin-left: 0%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.799);
    display: inline;
    resize: none;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}

.comment .rate {
    word-spacing: 25px;
    margin-left: 10%;
}

.user {
    float: left;
    margin: 10px;
    margin-top: 5px;
    margin-left: 0px;
}

.imagenum {
    float: right;
    margin: 5px;
    margin-top: 0px;
    font-size: xx-large;
}

textarea {
    max-height: 100px;
    height: 20px;
    width: 80%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.799);
    display: inline;
    margin-left: 5%;
    resize: none;
    padding: 10px;
    padding-bottom: 0px;
    overflow: auto;
    border-radius: 10px;
}

header .poster {
    float: right;
}

.imacxge {
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bb {
    display: block;
}

h3 {
    text-align: center;
}

ul li {
    display: block;
    width: 100%;
    height: 8%;
    margin-top: 3rem;
    padding: 10px;
    padding-left: 0px;
    overflow-x: hidden;
}

@keyframes animate {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(9, 8, 14);
    }
}

.post {
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}

.imagebox {
    width: 100%;
    margin-top: 0px;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    text-align: center;
    display: none;
    white-space: nowrap;
    padding-top: 50px;
    text-align: center;
}

.close {
    color: red;
    margin-top: -40px;
    margin-right: 5%;
    float: right;
    width: 30px;
    text-align: center;
}

.close:hover {
    color: whitesmoke;
    border-radius: 50%;
    background-color: red;
}

.hot-today {
    color: white;
    margin-top: -40px;
    margin-left: 5%;
    float: left;
    text-align: center;
}

.imageb {
    max-width: 90%;
    max-height: 90%;
    z-index: 2;
    margin: auto;
    display: inline-block;
    position: relative;
}


/* 
dfb2 mode white
rgb(9, 8, 14) darker
rgb(22, 33, 48)light
rgb(10, 9, 14) dark 
rgba(255, 255, 255, 0.799) lighter
*/

.title {
    text-align: right;
    max-width: 80%;
    margin-left: 20%;
    float: right;
    font-weight: bolder;
    font-family: 'Gill Sans MT', sans-serif;
}

.userdtails {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.content {
    padding-top: 0rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

.content {
    padding-bottom: 0rem;
    padding-top: 0.8rem;
    text-align: left;
}

.post {
    height: auto;
    margin: 5%;
    margin-top: 40px;
}


/*
.scrollpost {
    height: auto;
    width: auto;
    z-index: 2;
    display: block;
    word-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.postcontent {
    width: 400px;
    z-index: 2;
    float: left;
    overflow: hidden;
    position: relative;
}

.postimagebody {
    width: 400px;
    max-height: 50vh;
    min-height: 30vh;
    height: auto;
    z-index: 2;
    display: inline-block;
    position: relative;
    padding-top: 2%;
    padding-bottom: 0.5rem;
    border-top-right-radius: 0px;
}
*/

.postcontent {
    width: 100%;
    z-index: 2;
    white-space: normal;
    float: left;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.scrollpost {
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.postimagebody {
    width: 100%;
    max-height: 50vh;
    min-height: 30vh;
    overflow: hidden;
    z-index: 2;
    display: inline-block;
    position: relative;
}

.autoo {
    padding-top: 10%;
    height: auto;
}

.maxx {
    display: -webkit-box !important;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.maxnx {
    display: -webkit-box !important;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.comments .content {
    overflow: hidden;
    position: relative;
    height: auto;
}

.contenttalk {
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.postimage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: absolute;
}

.menus a {
    float: none;
    display: block;
    text-align: center;
    padding-top: 20%;
}

.menus {
    float: none;
    display: none;
    text-align: center;
    position: absolute;
    word-spacing: 1px;
    padding: 10px;
    border: 3px solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -19px;
}

.menu {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.site{
}
